<section id="about" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '70px', 'margin-bottom': '50px'}" style="margin-top: 12%;">
      <div class="container">



      	<div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">About</h2>
            </div>
            <div>
	        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">This WebApp helps people to connect with Electrical Vehicle Charging nodes.</h3>
	        </div>
        </div>


        <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="90px">
        	<div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">This is the expansion title</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">This WebApp helps people to connect with Electrical Vehicle Charging nodes.</p>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">This is the expansion title</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">This WebApp helps people to connect with Electrical Vehicle Charging nodes.</p>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">This is the expansion title</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">This WebApp helps people to connect with Electrical Vehicle Charging nodes.</p>
		          </div>
		      </div>

		      <div fxFlex="25">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">This is the expansion title</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">This WebApp helps people to connect with Electrical Vehicle Charging nodes.</p>
		          </div>     
		      </div>
        </div> -->

 <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        	<div fxFlex="50">
        	  <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 30px'}">
		            <!-- <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div> -->

		            <img mat-card-image src="assets/img/plugin.jpg" style="width: 100%;">
		            <span fxFlex="30px"></span>
		            <!-- <span fxFlex="30px"></span>
		            <h2 class="about-text"></h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text"></p> -->
		          </div> 
				</div>
				<div fxFlex="50">
		            <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 30px'}">
		            <!-- <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div> -->
<!-- 		            <span fxFlex="30px"></span>
 -->		            <h2 class="about-text">Step 1: Plug</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">Electricnodes.com offer various combinations of CCS, CHADeMO and J1772™ connectors, so almost every EV model on the road can charge with us. And our chargers automatically give you the fastest charge your car can handle.</p>
		          </div> 
		      </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        	<div fxFlex="50">
        	<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 30px'}">
		            
		            		            <img mat-card-image src="assets/img/step2.jpg" style="width: 100%;">
								<span fxFlex="30px"></span>
		            
		          </div> 
		      </div>
		      	<div fxFlex="50">
		            <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 30px'}">
		           
<!-- 		            <span fxFlex="30px"></span>
 -->		            <h2 class="about-text">Step 2: Pay</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">You can see the cost-per-minute on the charger screen—or on our app—before you begin your session. You get two ways to pay:
Use your smartphone and the Electrify Canada app (and enjoy discounted pricing with a Pass+ subscription)
Swipe your debit or credit card</p>
		          </div> 
		      </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        	<div fxFlex="50">
        	<div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <img mat-card-image src="assets/img/go.jpg" style="width: 100%;">
		            <span fxFlex="30px"></span>
		            
		          </div> 
		      </div>
			<div fxFlex="50">
		            <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <!-- <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
		            </div> -->
<!-- 		            <span fxFlex="30px"></span>
 -->		            <h2 class="about-text">Step 3: Go</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text">Ready to roll! When you're fully charged, charging stops automatically. To make sure everyone gets a chance to charge, ten minutes after charging stops, we add an idle fee of $0.40 per minute to your session bill.
Learn more about how public EV charging works.
</p>
		          </div> 
		      </div>
        </div>

      </div>
</section>


<section id="pricing" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
      <div class="container">

      	<div class="pricing-section pricing-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Pricing</h2>
            </div>
            <div>
	        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">This WebApp helps people to connect with Electrical Vehicle Charging nodes.</h3>
	        </div>
        </div>

		<mat-tab-group matTabNavBar color="accent">

		  <mat-tab label="Project Title">

		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Project Title">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Project Title">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Project Title">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Project Title">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		  <mat-tab label="Project Title">
		  	
		  	<table mat-table [dataSource]="specifications" class="mat-elevation-z8">
			  <!-- Item Column -->
			  <ng-container matColumnDef="item">
			    <th mat-header-cell *matHeaderCellDef> Item </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.item}} </td>
			    <td mat-footer-cell *matFooterCellDef> Total </td>
			  </ng-container>

			  <!-- Cost Column -->
			  <ng-container matColumnDef="cost">
			    <th mat-header-cell *matHeaderCellDef> Cost </th>
			    <td mat-cell *matCellDef="let specification"> {{specification.cost | currency}} </td>
			    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
			  </ng-container>

			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

			</table>

		  </mat-tab>

		</mat-tab-group>
	</div>
</section>
