

<!-- Material form register Mobile -->

<mdb-card fxShow="true" fxShow.gt-xs="false">

	<i class="fas fa-chevron-left" style="font-size: 35px;cursor: pointer;margin-top: 7px;" (click)="routeHome()"></i>

	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<!--   <mdb-card-header class="info-color white-text text-center py-4">
 -->    <h5 style="margin-top: 10px; text-align: center;">
      <strong>Sign In</strong>
    </h5>
  <!-- </mdb-card-header> -->

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" [formGroup]="form" (ngSubmit)="submit($event)" required>

      

      <!-- E-mail -->
      <div class="md-form mt-0">
        <input type="email" id="materialRegisterFormEmail" formControlName="username" class="form-control" placeholder="E-mail" required>
        <label for="materialRegisterFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialRegisterFormPassword" formControlName="password" class="form-control" placeholder="Password">
        <label for="materialRegisterFormPassword">Password</label>
        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
      </div>
 <div *ngIf="form.invalid && isSubmitted"
    class="alert alert-danger">
 
  <div>
    Username & Password are required.
  </div>
  

</div>

<div *ngIf="notvaliduser"
    class="alert alert-danger">

  <div>
    Username & Password not valid.
  </div>
  

</div>
     

      <!-- Newsletter -->
      <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>

      <!-- Sign up button -->
      <button mat-raised-button color="info" color="primary" style="min-width: -webkit-fill-available;"
        type="submit">
<span *ngIf="loading">
<span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Loading...
  </span>
    <span *ngIf="!loading">Sign in</span>
    </button>

      <!-- Social register -->
      <p>or <a style="cursor: pointer;
    color: blue;
    text-decoration: underline;" (click)="routeSignUp()">sign up</a> with:</p>

      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="heart"></mdb-icon>
      </a>

      <hr>

      <!-- Terms of service -->
      <!-- <p>By clicking
        <em>Sign in</em> you agree to our
        <a href="" target="_blank">terms of service</a>. </p> -->

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>


<!--  Desktop
 --> 
 <i class="fas fa-chevron-left" fxShow="false" fxShow.gt-xs="true" style="font-size: 35px;cursor: pointer;margin-top: 7px;" (click)="routeHome()"></i>


<mdb-card fxShow="false" fxShow.gt-xs="true" style="margin: 2% 33%;">
 	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<!--   <mdb-card-header class="info-color white-text text-center py-4">
 -->    <h5 style="margin-top: 28px; text-align: center;">
      <strong>Sign In</strong>
    </h5>
  <!-- </mdb-card-header> -->

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">
<!-- <button class="btn btn-primary" type="button" disabled>
  
</button> -->
    <!-- Form -->
    <form class="text-center" style="color: #757575;" [formGroup]="form" (ngSubmit)="submit($event)" required>

      

      <!-- E-mail -->
      <div class="md-form mt-0">
        <input type="email" id="materialRegisterFormEmail1" formControlName="username" class="form-control" placeholder="E-mail" required>
        <label for="materialRegisterFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialRegisterFormPassword1" formControlName="password" class="form-control" placeholder="Password">
        <label for="materialRegisterFormPassword">Password</label>
        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
          At least 8 characters and 1 digit
        </small>
      </div>

      <div *ngIf="form.invalid && isSubmitted"
    class="alert alert-danger">

  <div>
    Username & Password are required.
  </div>
  

</div>
<div *ngIf="notvaliduser"
    class="alert alert-danger">

  <div>
    Username & Password not valid.
  </div>
  

</div>

     

      <!-- Newsletter -->
      <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>

      <!-- Sign up button -->
     <button mat-raised-button color="info" color="primary" style="min-width: -webkit-fill-available;"
        type="submit">
        <span *ngIf="loading">
<span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Loading...
  </span>
    <span *ngIf="!loading">Sign in</span>
</button>

      <!-- Social register -->
      <p>or <a style="cursor: pointer;
    color: blue;
    text-decoration: underline;" (click)="routeSignUp()">sign up</a> with:</p>

      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="heart"></mdb-icon>
      </a>

      <hr>

      <!-- Terms of service -->
      <!-- <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>. </p> -->

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>

<!-- Material form register -->


